@use "variables";

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: variables.$heading-font;
  color: variables.$fallback-color;
  font-weight: bold;
}

body {
  font-family: variables.$content-font;
  font-weight: 400;
  color: variables.$navy-blue;
}
