$navy-blue: #13344a;
$bright-red: #ff6168;
$bright-blue: #12c0d8;
$content-font: "Work Sans", sans-serif;
$heading-font: "Playfair Display", serif;
$fallback-color: #000000;
$alternate-color: #ffffff;

// animation
$animation-all: all 0.3s ease-in-out;

// border styles
$border-radius-sm: 0.25rem;
